@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./components/formulaire";
@import "./components/informations";
@import "./components/nav";
@import "./components/main-cards";
@import "./components/pages-cards";
@import "./components/icone";
@import "./components/btn";
@import "./components/bann";
@import "./components/loader";
@import "./vendors/normalize.scss";


/*GENERAL*/

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.small {
    font-size: $small;
}




