// HEADER//

header {
    @include center;
    & img {
        height: 30px;
        margin: 20px 10px 5px 10px;
    }
    @media screen and (min-width: 769px){
        & img {
            height: 50px;
            margin: 20px;
        }
    }
}