/*GENERAL*/
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.small {
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  width: 140px;
  height: 30px;
  margin: 10px;
}

@media screen and (min-width: 769px) {
  .header img {
    width: 400px;
    height: 50px;
    margin: 20px;
  }
}

.location {
  background-color: #e6e6e6;
  padding: 10px;
  -webkit-box-shadow: #f3f3f3;
          box-shadow: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.location__position {
  height: 100%;
  width: 50%;
}

.location__position input {
  border: none;
  background-color: #e6e6e6;
  font-weight: bold;
  margin-left: 10px;
}

@media screen and (min-width: 769px) {
  .location {
    text-align: center;
    padding: 20px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info h2 {
  margin-top: 30px;
  font-size: 18px;
}

.info p {
  font-weight: 100;
  margin-bottom: 20px;
}

.btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  width: 40%;
  margin-bottom: 50px;
  border: none;
}

@media screen and (min-width: 769px) {
  .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info a {
    width: 100%;
    max-width: 200px;
  }
}

.fonctionnement h2 {
  font-size: 18px;
  margin-left: 5%;
}

.grey {
  color: grey;
}

.padding {
  padding: 0px 20px 0px 20px;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
}

ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  counter-reset: step;
}

li {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 30px 20px 30px 20px;
  -webkit-box-shadow: 0px 10px 20px rgba(234, 230, 230, 0.9);
          box-shadow: 0px 10px 20px rgba(234, 230, 230, 0.9);
  list-style-type: none;
  counter-increment: step;
  position: relative;
}

li:before {
  content: counter(step);
  padding: 5px 10px;
  vertical-align: top;
  background: #9356DC;
  border-radius: 50px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: -10px;
}

li:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

li:hover .padding {
  color: #9356DC;
}

@media screen and (min-width: 769px) {
  ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  li {
    width: 25%;
    height: 50px;
    text-align: center;
  }
  li:before {
    bottom: 40%;
  }
}

/*RESTAURANT*/
.restaurants {
  background-color: #f3f3f3;
  height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2%;
}

.restaurants h2 {
  font-size: 18px;
  margin-left: 5%;
  padding-top: 2%;
}

.cards__all {
  width: 100%;
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards {
  width: 90%;
  max-width: 400px;
  height: 230px;
  margin: 0px auto;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 5px 20px grey;
          box-shadow: 0px 5px 20px grey;
  border-radius: 20px;
  position: relative;
}

.cards img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__tag {
  background-color: #99E2D0;
  color: #278870;
  padding: 7px 6px;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  border-radius: 2px;
}

.cards h3 {
  color: black;
  font-size: 18px;
  margin-left: 2%;
  margin-bottom: 0;
}

.cards__substitle {
  font-weight: 100;
  margin-left: 2%;
  margin-top: 0;
}

.cards__icone {
  height: 30px;
  width: 30px;
  font-size: 25px;
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.icone {
  color: black;
}

@media screen and (min-width: 769px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 650px;
  }
  .restaurants h2 {
    height: 100px;
    width: 100%;
  }
  .restaurants .cards__all {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants .cards__all .cards {
    margin: 20px;
  }
}

/*FOOTER*/
.footer {
  background-color: #343434;
  height: 180px;
  padding: 4%;
  position: absolute;
  width: 100%;
}

.footer__title {
  font-family: 'Shrikhand', cursive;
  color: #fff;
  font-size: 18px;
  padding: 10px 1px 10px 1px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.footer__link a {
  color: #fff;
}

@media screen and (min-width: 769px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }
}

.footer--padding {
  padding-right: 7px;
}

/*PAGE 2*/
.banniere {
  position: absolute;
  width: 100%;
}

.banniere img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meal {
  position: relative;
  top: 200px;
  background-color: #f3f3f3;
  height: 1450px;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  text-align: center;
}

.meal h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal__sdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.meal__sdd h3 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.meal__cards {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 3px 1px 6px grey;
          box-shadow: 3px 1px 6px grey;
  padding: 5px 20px 5px 10px;
  overflow: hidden;
}

.meal__cards h4 {
  text-align: start;
  margin-bottom: 0;
}

.meal__cards p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  font-weight: 100;
}

.meal__cards p .meal__cards--price {
  font-weight: bold;
  padding-right: 20px;
}
/*# sourceMappingURL=main.css.map */