.loading {
  position: fixed;
  background-color: #fff;
  height: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: charge 1s ease-in-out forwards 2s;
          animation: charge 1s ease-in-out forwards 2s;
}

.loading .loader {
  margin: auto;
  margin-top: 300px;
  margin-bottom: 300px;
  border: 8px solid #f3f3f3;
  opacity: 0.9;
  width: 60px;
  height: 60px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: chargeur 1.5s linear infinite;
          animation: chargeur 1.5s linear infinite;
}

@-webkit-keyframes charge {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@keyframes charge {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@-webkit-keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 140px;
  height: 30px;
  margin: 10px;
}

@media screen and (min-width: 769px) {
  header img {
    width: 400px;
    height: 50px;
    margin: 20px;
  }
}

.location {
  background-color: #e6e6e6;
  padding: 10px;
  -webkit-box-shadow: #f3f3f3;
          box-shadow: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.location__position {
  height: 100%;
  width: auto;
}

.location__position input {
  border: none;
  background-color: #e6e6e6;
  font-weight: bold;
  margin-left: 10px;
}

@media screen and (min-width: 769px) {
  .location {
    text-align: center;
    padding: 20px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info h2 {
  margin-top: 30px;
  font-size: 18px;
}

.info p {
  font-weight: 100;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fonctionnement h2 {
  font-size: 18px;
  margin-left: 5%;
}

.grey {
  color: grey;
}

.padding {
  padding: 0px 20px 0px 20px;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
}

ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  counter-reset: step;
}

li {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 30px 20px 30px 20px;
  -webkit-box-shadow: 0px 10px 20px rgba(234, 230, 230, 0.9);
          box-shadow: 0px 10px 20px rgba(234, 230, 230, 0.9);
  list-style-type: none;
  counter-increment: step;
  position: relative;
}

li:before {
  content: counter(step);
  padding: 5px 10px;
  vertical-align: top;
  background: #9356DC;
  border-radius: 50px;
  font-size: 12px;
  color: white;
  position: absolute;
  left: -10px;
}

li:hover {
  background-color: rgba(147, 86, 220, 0.1);
  -webkit-transition: color .3s;
  transition: color .3s;
}

li:hover .padding {
  color: #9356DC;
}

@media screen and (min-width: 769px) {
  ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  li {
    width: 25%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  li:before {
    bottom: 40%;
  }
}

/*Main Cards*/
.restaurants {
  background-color: #f3f3f3;
  height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5%;
}

.restaurants h2 {
  font-size: 18px;
  margin-left: 5%;
  padding-top: 2%;
}

.cards {
  width: 100%;
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 0px auto;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 5px 20px grey;
          box-shadow: 0px 5px 20px grey;
  border-radius: 20px;
  position: relative;
}

.card img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.card__description h3 {
  font-size: 17px;
  margin: 0;
}

.card__description p {
  font-weight: 100;
  margin: 0;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 769px) {
  .card {
    margin-left: 0;
    margin-right: 0;
  }
}

.card__img__tag {
  background-color: #99E2D0;
  color: #278870;
  padding: 7px 6px;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  border-radius: 2px;
}

.card__items__icone {
  width: 30px;
  font-size: 25px;
}

@media screen and (min-width: 769px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1100px;
  }
  .cards {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards .card {
    margin: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 650px;
  }
  .restaurants h2 {
    height: 100px;
    width: 100%;
  }
  .restaurants .cards {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants .cards .card {
    margin: 20px;
  }
}

.meals {
  position: relative;
  top: 200px;
  background-color: #f3f3f3;
  height: auto;
  border-radius: 30px 30px 0 0;
  padding-bottom: 10px;
}

.meals h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .meals {
    top: 265px;
    height: auto;
    margin-bottom: 220px;
  }
  .meals h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 28px;
    width: 90%;
  }
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  height: auto;
  margin-bottom: 30px;
  -webkit-animation: slideLeft 3s both;
          animation: slideLeft 3s both;
}

.meal h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 20px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

@media screen and (min-width: 769px) {
  .meal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .meal h2 {
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
  }
}

.starters {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dishes {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desserts {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.card--meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: auto;
}

.card--meal:hover .card__items--checked {
  margin-right: 0px;
  margin-left: -40px;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.card--meal:hover .check {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}

.card--meal:hover .card__items__price {
  margin-left: -40px;
  padding-left: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media screen and (min-width: 769px) {
  .card--meal {
    max-width: 400px;
    height: auto;
  }
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.card__items__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}

.card__items--checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-right: -80px;
  background-color: #99E2D0;
  width: 70px;
  border-radius: 0 10px 10px 0;
  color: #fff;
  font-size: 30px;
  opacity: 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*FOOTER*/
footer {
  background-color: #343434;
  height: 200px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

footer .footer__title {
  font-family: 'Shrikhand', cursive;
  color: #fff;
  font-size: 18px;
  padding: 10px 1px 10px 20px;
}

footer .footer__link {
  text-decoration: none;
  color: #fff;
  padding: 5px 1px 5px 20px;
}

footer .footer__link a {
  color: #fff;
}

@media screen and (min-width: 769px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 140px;
  }
}

.footer--padding {
  padding-right: 7px;
}

.icone {
  position: absolute;
  right: 15px;
  bottom: 30px;
  color: black;
}

.background--icon {
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.background--icon:hover {
  opacity: 1;
  -webkit-animation: heartbeat .5s ease-in-out backwards;
          animation: heartbeat .5s ease-in-out backwards;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  width: 200px;
  margin-bottom: 50px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn:hover {
  background: linear-gradient(100deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

@media screen and (min-width: 769px) {
  .btn .btn {
    width: 200px;
  }
}

.btn--center {
  width: 100%;
  text-align: center;
  padding-top: 240px;
  background-color: #f3f3f3;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .btn--center {
    padding-top: 80px;
  }
}

.banniere {
  position: absolute;
  width: 100%;
}

.banniere img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*GENERAL*/
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.small {
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */