// loader 

.loading {
    position: fixed;
    background-color: $white;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: charge 1s ease-in-out forwards 2s;
    .loader {
        margin: auto;
        margin-top: 300px;
        margin-bottom: 300px;
        border: 8px solid $lightgrey;
        opacity: 0.9;
        width: 60px;
        height: 60px;
        border-top-color: $primary;
        border-bottom-color: $secondary;
        border-radius: 50%;
        animation: chargeur 1.5s linear infinite;
    }
}
@keyframes charge {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-9999px);
    }
    
}
@keyframes chargeur {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }

    
}