//INFOS//

.info {
    @include column;
    background-color: $lightgrey;
    align-items: center;
    text-align: center;
}

.info h2 {
    margin-top: 40px;
    font-size: 22px;
    max-width: 250px;
}

.info p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 400px;
}


@media screen and (min-width: 769px) {
    .info {
        align-items: center;
    }
    .info h2 {
        max-width: 600px;
    }
    .info p {
        max-width: 1000px;
    }
}